{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">{{ request.user.username }}</span>
    <span class ="navbar-brand mb-0 h1">{{ class }}</span>
    <a class="nav-link" href="{% url 'main:logout' %}">
        <button class="btn btn-danger">Logout</button>
    </a>
      </button>
    </div>
  </nav>
    <h1>Shopping List Page</h1>
<!-- 
    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p> -->

<body>
<table id="product_table"></table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<br>
<br>
<style>
    /* Add custom CSS styles for your table */
    #product_table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    #product_table th,
    #product_table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    #product_table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    /* Style the modal button */
    #exampleModalButton {
        margin-top: 20px;
    }
</style>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.price}</td>
            <td>${item.fields.description}</td>
            <td>${item.fields.date_added}</td>
            <td> <button onclick="editProduct(${item.pk})">Edit</button> </td>
            <td> <button onclick="deleteProduct(${item.pk})">Delete</button> </td> 
        </tr>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }    

    refreshProducts()
    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct

    function editProduct(pk){
        window.location.href = `/edit-product/${pk}`;
    }

    function deleteProduct(pk){
        window.location.href = `/delete-product/${pk}`;
    }
</script>


{% endblock content %}